@import 'bootstrap-variables';
@import '~bootstrap/scss/functions';
@import '~bootswatch/dist/darkly/variables';
@import '~bootstrap/scss/variables';

/* ==============================================================
Bootstrap tweaks
===============================================================*/

body,
h1,
h2,
h3,
h4 {
  font-weight: 300;
}

a {
  color: #533f03;
  font-weight: bold;
}

a:hover {
  color: #533f03;
  font-weight: bold;
  /* make sure browsers use the pointer cursor for anchors, even with no href */
  cursor: pointer;
}

.dropdown-item:hover {
  color: $dropdown-link-hover-color;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* other generic styles */

.jh-card {
  padding: 1.5%;
  margin-top: 20px;
  border: none;
}

.error {
  color: white;
  background-color: red;
}

.pad {
  padding: 10px;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.break {
  white-space: normal;
  word-break: break-all;
}

.readonly {
  background-color: #eee;
  opacity: 1;
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.hand,
[jhisortby] {
  cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts {
  .alert {
    text-overflow: ellipsis;
    pre {
      background: none;
      border: none;
      font: inherit;
      color: inherit;
      padding: 0;
      margin: 0;
    }
    .popover pre {
      font-size: 10px;
    }
  }
  .jhi-toast {
    position: fixed;
    width: 100%;
    &.left {
      left: 5px;
    }
    &.right {
      right: 5px;
    }
    &.top {
      top: 55px;
    }
    &.bottom {
      bottom: 55px;
    }
  }
}

@media screen and (min-width: 480px) {
  .alerts .jhi-toast {
    width: 50%;
  }
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row.jh-entity-details > {
  dd {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .row.jh-entity-details > {
    dt {
      margin-bottom: 15px;
    }
    dd {
      border-bottom: 1px solid #eee;
      padding-left: 180px;
      margin-left: 0;
    }
  }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.thread-dump-modal-lock {
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* jhipster-needle-scss-add-main JHipster will add new css style */

*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #767676;
  /*the copyright colors text*/
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #857c27;
}

p {
  color: #3937df;
  text-decoration: none;
}

p:hover {
  color: white;
}

a:hover {
  color: yellow;
  text-decoration: none;
}

/** Footer **/

.footer {
  padding: 10px 200px;
  border-top: 1px solid #dbdbdb;
  background-color: #424242;
  /*bg color*/
}

.footer li {
  font-size: 1em;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 10px 10px;
  border-bottom: 1px solid #dbdbdb;
}

.options {
  width: 250px;
  margin-bottom: 0px;
}

.select-item,
.options select {
  width: inherit;
}

.select-item {
  position: relative;
}

.select-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  display: inline-block;
  width: 15px;
  height: 15px;
  transform: translateY(-70%);
}

.options select {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 8px;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  font-size: 1.1em;
  font-weight: 300;
}

.footer-list {
  margin: 0 10px 10px;
  text-decoration: none;
}

.footer-list h3 {
  margin-bottom: 10px;
  font-size: 1em;
  font-weight: 500;
  color: #666;
}

.footer-list li {
  margin: 5px 0;
  text-decoration: none;
}

.footer-about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 10px;
}

.copyright {
  display: flex;
  align-items: center;
  font-size: 0.9em;
}

.bnb-icon {
  margin-right: 10px;
}

.bnb-icon:hover {
  color: white;
}

.social-icon:hover {
  color: white;
}

.about-list {
  display: flex;
  align-items: center;
}

.copyright,
.about-list {
  margin: 5px 0;
}

.about-list li {
  margin: 0 5px;
  /*space between social icons*/
}

/** Viewport <= 800px **/

@media (max-width: 800px) {
  .footer {
    padding: 0 30px;
    padding-bottom: 30px;
  }
  .footer-content {
    padding-top: 50px;
  }
}
